{% extends "layout.html" %}
{% block status %}{{ this.status }}{% endblock %}
{% block body %}

  <h1 class="page-header">{{ this.title }}
  {% if this.repository %}
    <a href="{{ this.repository }}"><i class="fa fa-github" aria-hidden="true"></i></a>
  {% endif %}
  </h1>

  <p class="lead">Project status:
  {% if this.status == "active" %}
    <span class="label label-success">
  {% else %}
    <span class="label label-info">
  {% endif %}
  {{ this.status }}</span>
  </p>

  {{ this.body }}
{% endblock %}
