{% extends "layout.html" %}
{% block body %}
  <h1 class="page-header">{{ this.title }}</h1>
  <p>Stuff I'm working on right now:</p>
  <ul class="tree-nav">
    {% for active_project in this.children.filter(F.status == 'active') %}
      <li><a href="{{ active_project|url }}">{{ active_project.title }}</a></li>
    {% endfor %}
  </ul>

  <p>Older projects:</p>
  <ul class="tree-nav">
    {% for active_project in this.children.filter(F.status == 'complete') %}
      <li><a href="{{ active_project|url }}">{{ active_project.title }}</a></li>
    {% endfor %}
  </ul>

  <p>Note: click on the <a href="https://github.com"><i class="fa fa-github" aria-hidden="true"></i></a> icon next to the title of a project to access the Github repository.</p>

  {{ this.body }}
{% endblock %}
