{% extends "layout.html" %}
{% block body %}
  <h1 class="page-header">{{ this.title }}</h1>
  {{ this.body }}
  <div class="google-custom-search">
  <script>
  (function() {
    var cx = '009795197726372079157:hs4uj-uxzai';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
  </script>
  <gcse:search></gcse:search>
  </div>
{% endblock %}
